@import "tailwindcss";

@theme {
  --color-background: #0878a7;
  --color-texte: #ffffff;
  --font-sans: "Fredoka", Sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-texte);
  font-family: var(--font-sans);
}
